@charset "UTF-8";

body {
    margin: 0;
}

.l-header {
    display: flex;
    background-color: #F5F5F7;
    height: 80px;
    align-items: center;
    gap: 48px; /* 子级div间隔 */
}
.navi-btn-container {
    display: flex;
    gap: 36px; /* 子级 <a> 间隔 */
}
.navi-btn {
    text-decoration: none; /* 去掉a标签下划线8 */
    color: #111111;
    font-size: 1rem;
    font-weight: 450;  /* 字体粗细 */
    font-family: "Inter Tight", sans-serif; 

}

.main-slider-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 70vh;
}
.main-slider-up-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    flex: 9;
}
.slider-btn {
    display: flex;
    justify-content: center;
    flex: 1.5;
}
.main-slider-center-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex: 7;
}
.slider-text {
    margin-right: auto;
}
.slider-image {
    margin-right: auto;
}

.main-slider-down-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}