@charset "UTF-8";

body {
    margin: 0;
}

.header-logo{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-left: 40px;
}
.l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    background-color: #F5F5F7;
    height: 80px;
    align-items: center;
    gap: 48px; /* 子级div间隔 */
}
.navi-btn-container {
    display: flex;
    gap: 36px; /* 子级 <a> 间隔 */
}
.navi-btn {
    text-decoration: none; /* 去掉a标签下划线8 */
    color: #111111;
    font-size: 1rem;
    font-weight: 450;  /* 字体粗细 */
    font-family: "Inter Tight", sans-serif; 

}
