@charset "UTF-8";

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr auto;
}

.l-header {
    position: static;
}

main {
    min-height: 0;
    padding-top: 0;
    display: flex;
}

.main-shell {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    align-items: center;
}

.l-footer {
    margin-top: 0;
}

